<div class="col-md-5 col-md-offset-2">
<h1>Crear  nuevo cliente</h1>
</div>
<div class="col-md-5 col-md-offset-2">
<div [hidden]="submitted" >
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="client.name" name="name">
    </div>

    <div class="form-group">
      <label for="lastName">Apellidos</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="client.lastName" name="lastName" ng-maxlength="20" >
    </div>

    <div class="form-group">
      <label for="rfc">RFC</label>
      <input type="text" class="form-control" id="rfc" required [(ngModel)]="client.rfc" name="rfc" onblur="ValidaRfc(this.value)">
      <span id=mensajerrorrfc style="display: none;">No es un RFC valido.</span>
    </div>

    <div class="form-group">
      <label for="curp">CURP</label>
      <input type="text" class="form-control" id="curp" required [(ngModel)]="client.curp" name="curp">
    </div>


        <div class="form-group">
          <label for="rs">Razon Social</label>
          <input type="text" class="form-control" id="rs" required [(ngModel)]="client.rs" name="rs">
        </div>


        <div class="form-group">
          <label for="email">Correo</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="client.email" name="email"  onblur="ValidaCorreo(this.value)">
       <span id=mensajeerrorcorreo style="display: none;">Inserte un correo valido..</span>
         </div>

                <div class="form-group">
                  <label for="address">Direccion</label>
                  <input type="text" class="form-control" id="address" required [(ngModel)]="client.address" name="address">
                </div>

    <button id="boton" type="submit" class="btn btn-success" style="display: none;">Agregar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Se ha creado el usuario.</h4>
  <button class="btn btn-success" (click)="newClient()" style="display: none;">Agregar</button>
</div>
</div>
